


<div class="custom-html-section">&lt;/&gt; Custom top html section: src/html/<%= extensionFolderName %>/topSection.html</div>

<div class="modules-list-wrapper">
    <% _modules.forEach(module => { %>
        <a class="module-thumbnail">
            <i class="fa <%- module.thumbnail.icon %>" style="background:<%- module.thumbnail.background %>; color:<%- module.thumbnail.color %>"></i>
            <h3><%- module.name %></h3>
        </a>
    <% }); %>
</div>

<div class="custom-html-section">&lt;/&gt; Custom bottom html section: src/html/<%= extensionFolderName %>/bottomSection.html</div>