<ul kendo-<%= component.navigationType || "panelbar" %>="widget">
    <% app.mainMenu.forEach(function (menuItem) { %>
        <li data-state="module.default.<%=menuItem.state%>" title="<%= menuItem.title %>">
            <% if (menuItem.children.length) { %>
                <% if (app.navigationType !== 'treeview') { %>
                    <i class="fa <%= menuItem.thumbnail.icon %>"></i>
                    <span><%= menuItem.title %></span>
                <% } else { %>
                    <a ui-sref="module.default.<%= menuItem.defaultState %>">
                        <span><%= menuItem.title %></span>
                    </a>
                <% } %>
                <ul>
                <% menuItem.children.forEach(function (child) { %>
                    <li class="nav-item" data-state="module.default.<%= child.state %>" title="<%= child.title %>">
                        <a ui-sref="module.default.<%= child.state %>">
                            <span><%= child.title %></span>
                        </a>
                    </li>
                <% }); %>
                </ul>
            <% } else { %>
                <a>
                    <i class="fa <%= menuItem.thumbnail.icon %>"></i>
                    <span><%= menuItem.title %></span>
                </a>
            <% } %>
        </li>
    <% }); %>
</ul>