<%
    var componentsTemplates = {
        'text-box':'<input type="text" class="k-input k-textbox"/>',
        'disabled-text-box':'<input type="text" disabled="disabled" class="k-input k-textbox"/>',
        'editor':'<textarea kendo-editor k-options="{}"></textarea>',
        'slider':'<input kendo-slider k-options="{}" />',
        'numeric-text-box':'<input kendo-numeric-text-box k-options="{}" />',
        'integer-text-box':'<input kendo-numeric-text-box k-options="{}" />',
        'percent-text-box':'<input kendo-numeric-text-box k-options="{}" />',
        'percent-value-text-box':'<input kendo-numeric-text-box k-options="{}" />',
        'check-box':'<input type="checkbox" class="k-checkbox"/><label class="k-checkbox-label"></label>',
        'radio-button-list':'<label><input type="radio" class="k-radio"/>True</label><label><input type="radio" class="k-radio"/>False</label>',
        'date-picker':'<input kendo-date-picker k-options="{}" />',
        'calendar':'<kendo-calendar k-options="{}" />',
        'date-time-picker':'<input kendo-date-time-picker k-options="{}"/>',
        'email-text-box':'<input type="email" placeholder="john.doe@example.net" class="k-input k-textbox" />',
        'phone-text-box':'<input kendo-masked-text-box k-mask="\'(999) 000-0000\'"/>',
        'url-text-box':'<input type="email" placeholder="http://examplewebsite.net" class="k-input k-textbox" />',
        'password-text-box':'<input type="password" class="k-input k-textbox"/>',
        'currency-text-box':'<input kendo-numeric-text-box k-format="\'c\'"/>'
    }
 %>
<div class="data-form">
    <div class="row">
        <div class="col-xs-8">
            <h2><%= title %></h2>
        </div>
        <% if (editMode !== 'Read-Only') { %>
        <div class="col-xs-4 text-right">
            <a class="k-button k-button-icontext">
                <span class="k-icon k-i-plus"></span> New
            </a>
        </div>
        <% } %>
    </div>
    <div class="data-form-fieldset">
        <div class="componentsContainer">
            <div class="row">
                <div class="col-md-6">
                    <% for(var i=0; i< fields.length; i++) { %>
                        <% if (i%2===0) { %>
                            <div class="row">
                                <div class="col-md-5">
                                    <label><%= fields[i].label %></label>
                                </div>
                                <div class="col-md-7">
                                    <%- editMode === 'Read-Only' ? fields[i].label : componentsTemplates[fields[i].editorType] %>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="col-md-6">
                    <% for(var j=0; j< fields.length; j++) { %>
                        <% if (j%2 !== 0) { %>
                            <div class="row">
                                <div class="col-md-5">
                                    <label><%= fields[j].label %></label>
                                </div>
                                <div class="col-md-7">
                                    <%- editMode === 'Read-Only' ? fields[j].label : componentsTemplates[fields[j].editorType] %>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div><% if (editMode !== "Read-Only" ) { %>
        <div class="row">
            <div class="col-lg-12 data-form-commands">
                <hr />
                <a class="k-button k-button-icontext">
                    <span class="k-icon k-edit"></span> Edit
                </a>
                <a class="k-button k-button-icontext k-primary k-grid-update">
                    <span class="k-icon k-update"></span> Save
                </a>
                <a class="k-button k-button-icontext k-grid-cancel">
                    <span class="k-icon k-cancel"></span> Cancel
                </a>
                <a class="k-button k-button-icontext k-grid-delete">
                    <span class="k-icon k-delete"></span> Delete
                </a>
            </div>
        </div><% } %>
    </div>
    <div class="row data-form-pager">
        <div class="col-xs-8">
            <a class="k-button k-button-icontext k-grid-cancel">
                <span class="k-icon k-i-arrow-w"></span> Prev
            </a>
            <a class="k-button k-button-icontext k-grid-delete">
                Next <span class="k-icon k-i-arrow-e"></span>
            </a>
        </div>
        <div class="col-xs-4 text-right">
            <span>Go to </span>
            <input type="text" class="k-input k-textbox"/>
        </div>
    </div>
</div>
